name: Pylint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8"]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}a
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint
        pip install pylint-exit
      if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
    - name: Analysing the code with pylint
      run: |
        pylint --rcfile=.pylintrc spydrnet/ || pylint-exit $?
      if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        
